In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('dataset/mlbsalaries.csv') #Major league Abseball Salaries

In [3]:
df.head()

   Year           Player   Salary           Position                Team
0  1988        Mike Witt  1400000            Pitcher  Los Angeles Angels
1  1988  George Hendrick   989333         Outfielder  Los Angeles Angels
2  1988      Chili Davis   950000         Outfielder  Los Angeles Angels
3  1988    Brian Downing   900000  Designated Hitter  Los Angeles Angels
4  1988        Bob Boone   883000            Catcher  Los Angeles Angels

In [4]:
df.shape

(19543, 5)

In [5]:
df.Year.value_counts() #Find year wise total count

1990    972
1999    919
2008    858
2001    857
2002    849
2007    848
1998    846
2000    843
2011    843
2004    833
2005    831
2010    828
2003    826
2006    823
2009    818
1995    805
1993    786
1997    773
1996    768
1992    753
1994    748
1991    720
1989    710
1988    686
Name: Year, dtype: int64

In [6]:
df.Team.value_counts()

Texas Rangers            711
Los Angeles Dodgers      698
Los Angeles Angels       695
Philadelphia Phillies    695
St. Louis Cardinals      693
Cleveland Indians        693
Boston Red Sox           692
Milwaukee Brewers        690
Washington Nationals     687
New York Yankees         685
Seattle Mariners         684
Baltimore Orioles        684
Atlanta Braves           683
Toronto Blue Jays        683
Cincinnati Reds          681
San Francisco Giants     678
New York Mets            676
Detroit Tigers           676
Kansas City Royals       674
Oakland Athletics        674
San Diego Padres         673
Pittsburgh Pirates       669
Chicago Cubs             663
Houston Astros           660
Minnesota Twins          650
Chicago White Sox        648
Florida Marlins          533
Colorado Rockies         528
Tampa Bay Rays           398
Arizona Diamondbacks     389
Name: Team, dtype: int64

In [7]:
df.Position.value_counts()

Pitcher              9160
Outfielder           3785
Catcher              1664
Shortstop            1331
Second Baseman       1216
Third Baseman        1139
First Baseman        1118
Designated Hitter     109
Infielder              21
Name: Position, dtype: int64

In [8]:
# Retrieve information for year 2010

In [10]:
year_2010=df[df.Year==2010]

In [11]:
year_2010

       Year              Player    Salary    Position                Team
17872  2010        Torii Hunter  18500000  Outfielder  Los Angeles Angels
17873  2010         Bobby Abreu   9000000  Outfielder  Los Angeles Angels
17874  2010       Brian Fuentes   9000000     Pitcher  Los Angeles Angels
17875  2010        Scott Kazmir   8000000     Pitcher  Los Angeles Angels
17876  2010        Joel Pineiro   8000000     Pitcher  Los Angeles Angels
...     ...                 ...       ...         ...                 ...
18695  2010         Phil Hughes    447000     Pitcher    New York Yankees
18696  2010      Alfredo Aceves    435650     Pitcher    New York Yankees
18697  2010     David Robertson    426650     Pitcher    New York Yankees
18698  2010         Ramiro Pena    412100   Infielder    New York Yankees
18699  2010  Francisco Cervelli    410800     Catcher    New York Yankees

[828 rows x 5 columns]

In [14]:
year_2010.sort_values(by='Player').head() #Sort records by Player in scending order

       Year           Player    Salary Position                  Team
18679  2010     A.J. Burnett  16500000  Pitcher      New York Yankees
18655  2010  A.J. Pierzynski   6750000  Catcher     Chicago White Sox
18540  2010       Aaron Cook   9625000  Pitcher      Colorado Rockies
18484  2010     Aaron Harang  12500000  Pitcher       Cincinnati Reds
18108  2010    Aaron Heilman   2150000  Pitcher  Arizona Diamondbacks

In [15]:
year_2010.sort_index(axis=1,inplace=True) #Sort columns Lables

/var/folders/wq/js2f53zx0_1fgy1r634g7bsw0000gn/T/ipykernel_5591/3398642244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_2010.sort_index(axis=1,inplace=True) #Sort columns Lables

In [16]:
year_2010.head()

              Player    Position    Salary                Team  Year
17872   Torii Hunter  Outfielder  18500000  Los Angeles Angels  2010
17873    Bobby Abreu  Outfielder   9000000  Los Angeles Angels  2010
17874  Brian Fuentes     Pitcher   9000000  Los Angeles Angels  2010
17875   Scott Kazmir     Pitcher   8000000  Los Angeles Angels  2010
17876   Joel Pineiro     Pitcher   8000000  Los Angeles Angels  2010

In [18]:
year_2010.Salary.sort_values(ascending=False).head()

18675    33000000
18676    24285714
18677    22600000
18678    20625000
18263    20144707
Name: Salary, dtype: int64

In [20]:
year_2010.loc[year_2010.Salary.sort_values(ascending=False)
              .index[:5],['Player','Salary']]

               Player    Salary
18675  Alex Rodriguez  33000000
18676     CC Sabathia  24285714
18677     Derek Jeter  22600000
18678   Mark Teixeira  20625000
18263   Johan Santana  20144707